{% extends 'base_adm.html' %}
{% block content %}
{{ super() }}
  {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash  {{cat}}">{{msg}}</div>
  {% endfor %}
  {% if session["user_logged"] == "Boyarishnik" %}
  <form action="{{ url_for('add') }}" method="post" class="form_contact">
      <p>
          <label>Название статьи</label>
          <input type="text" name="name" value="" required>
      </p>
      <p>
          <label>URL</label>
          <input type="text" name="url" value="" required>
      </p>
      <p>
          <label>Текст</label>
      </p>
      <p>
          <textarea name="post" rows="12" cols="50"></textarea>
      </p>
      <p>
          <input type="submit" value="Добавить">
      </p>
  </form>
  {% else %}
      <h1>НЕТ ПРАВ АДМИНИСТРАТОРА</h1>
  {% endif %}

{% endblock %}